.messagescontainer {
  display: flex;
  width: 100%;
  height: 12%;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;

  &.mainuser {
    flex-direction: row-reverse;

    .message {
      background-color: #318ce7;
      color: #fff;
    }
  }

  padding: 10px;
  img {
    border-radius: 50%;
    width: 2.5rem;
  }
  .message {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    color: #fff;
    background-color: #696969;
    overflow: hidden;
  }
}
