.messagescontainer {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  &.mainuser {
    flex-direction: row-reverse;
    justify-content: end;
    .message {
      background-color: #497afa;
      color: #fff;
    }
  }

  padding: 10px;
  img {
    border-radius: 50%;
    width: 2.5rem;
  }
  .message {
    display: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 2%;
    padding: 2%;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    color: #000;
    background-color: #e8e9eb;
    word-break: break-all;
    max-width: 70%;
    min-height: 30px;
  }
}
