* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.chatpage-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 4fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
    "sidebar inbox chat"
    "sidebar inbox chat"
    "sidebar inbox chat ";
}


.mainchat {
  grid-area: chat;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .chatbox-container {
    height: 95%;

    .chatbox {
      height: 90%;
      width: 100%;
      border: 1px solid #ced4da;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
    }
  }
  .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15%;
    input {
      width: 80%;
      height: 40%;
    }
    button {
      color: #ffff;
      border: none;
      border-radius: 3px;
      background-color: #0d6efd;
      width: 10%;
      height: 40%;

      &:hover {
        background-color: #0b5ed7;
      }
    }
  }
}
