.Inbox {
  grid-area: inbox;
  background-color: #fafafa;
  height: 100vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  .search-friend {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
  }
  .loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .usertest {
    display: flex;
    align-items: center;
    span {
      color: #497afa;
      font-weight: bold;
    }
  }
  .userinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
  }
  &.hidden {
    visibility: hidden;
    transition: 200ms;
    width: 0%;
  }
}

@media only screen and (max-width: 560px) {
  .Inbox {
    width: 100%;
    height: 100vh;
  }
}
