.Inbox {
  grid-area: inbox;
  background-color: #fafafa;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  .loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .usertest {
    display: flex;
    align-items: center;
  }
  .userinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 2%;
  }
}
