.usersmessages {
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 13%;
  border: 1px solid #dbdbdb;

  cursor: pointer;
  img {
    max-width: 15%;
    border-radius: 20%;
    margin: 5%;
  }
  .messagepreview {
    display: flex;
    flex-direction: column;
  }
  &:focus {
    opacity: 0.5;
  }
}
