.Form {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.FormInput {
  width: 20vw;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  &:focus {
    background-color: rgb(235, 235, 235);
  }
}
.FormInput::placeholder {
  font-size: 15;
  color: grey;
  opacity: 1;
}
